How to skip invalid dates forward or backward?

I am currently looking at the `SKIP` property in [section 4.1 of RFC 7529](https://datatracker.ietf.org/doc/html/rfc7529#section-4.1). and specifically this part:

```
This specification introduces a new "RRULE" element, "SKIP", for use
only when the "RSCALE" element is present.  The "SKIP" element allows
the calendar user agent to specify new options for handling invalid dates.

      "SKIP=OMIT": this is the default option and corresponds to the
      existing iCalendar behavior of simply ignoring the invalid date.

      "SKIP=BACKWARD": when this option is set, a date with an invalid
      month is changed to the previous (valid) month.  A date with an
      invalid day-of-month is changed to the previous (valid)
      day-of-month.

      "SKIP=FORWARD": when this option is set, a date with an invalid
      month is changed to the next (valid) month.  A date with an
      invalid day-of-month is changed to the next (valid) day-of-month.
```

With that in mind I see that it's possible to implement the `OMIT` option by using `overflow: reject` option in temporal. However I don't see any controls offered by the `overflow` option to decide if clamping for example when using `overflow: constrain` should go forward or backward.

currently i have the following logic where i combine it with the `disambiguation` option but i think it's not really serving the purpose. 

```ts
private _resolveSkipOptions(skip: SkipType): SkipDerivedOptions {
    switch (skip) {
      case 'OMIT':
        return {
          overflow: 'reject',
          disambiguation: 'compatible',
        }
      case 'BACKWARD':
        return {
          overflow: 'constrain',
          disambiguation: 'earlier',
        }
      case 'FORWARD':
        return {
          overflow: 'constrain',
          disambiguation: 'later',
        }
      default:
        // default RFC 5545 behaviour
        return {
          overflow: 'reject',
          disambiguation: 'compatible',
        }
    }
  }
```
  
Is the above implementation correct and if not what's the proper approach?